<div class="jumbotron">
    <h1 class="display-4">Welcome to the Kalaha app!</h1>
    <p class="lead">This is a simple app to play the Kalaha game.</p>
    <hr class="my-4">
    <p>You can either start a new game, or join a game that is already in progress.</p>
    <a class="btn btn-primary btn-lg" (click)="goToNewGame()" role="button">Start new game</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Room code</th>
            <th scope="col">Turn</th>
            <th scope="col">Game state</th>
            <th scope="col">Join game</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{game.id}}</td>
            <td>{{game.turn}}</td>
            <td>{{game.gameState}}</td>
            <td *ngIf="game.gameState == 'PLAYING'">
                <button type="button" class="btn btn-primary" (click)="goToGame(game.id)">Join game</button>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="!games.length">There are no active games at this moment. New games will automatically pop up here!</p>