.north {
    background-color: lightblue;
}

.south {
    background-color: lightpink;
}

.northText {
    color: lightblue;
}

.southText {
    color: lightpink;
}

.custom-control-label {
    margin-left: 10px;
}