<h2 *ngIf="gameDto.gameState == 'NORTH_WIN'" class="northText"> NORTH HAS WON THE GAME! </h2>
<h2 *ngIf="gameDto.gameState == 'SOUTH_WIN'" class="southText"> SOUTH HAS WON THE GAME! </h2>
<h2 *ngIf="gameDto.gameState == 'DRAW'"> ITS A DRAW! </h2>
<h2 *ngIf="gameDto.turn == 'SOUTH' && gameDto.gameState == 'PLAYING'" class="southText"> {{gameDto.turn}} -- is up next! </h2>
<h2 *ngIf="gameDto.turn == 'NORTH' && gameDto.gameState == 'PLAYING'" class="northText"> {{gameDto.turn}} -- is up next! </h2>

<form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
    <table class="table table-bordered table-dark">
        <caption>Select a pit and press the red button to make a move.</caption>
        <tbody>
            <tr>
                <td class="north" rowspan="2">
                    <label class="custom-control-label">{{gameDto.pitList[0].balls}}</label>
                </td>
                <td class="north">
                    <input *ngIf="gameDto.turn == 'NORTH'" id="{{gameDto.pitList[1].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[1].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[1].id}}">{{gameDto.pitList[1].balls}}</label>
                </td>
                <td class="north">
                    <input *ngIf="gameDto.turn == 'NORTH'" id="{{gameDto.pitList[2].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[2].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[2].id}}">{{gameDto.pitList[2].balls}}</label>
                </td>
                <td class="north">
                    <input *ngIf="gameDto.turn == 'NORTH'" id="{{gameDto.pitList[3].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[3].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[3].id}}">{{gameDto.pitList[3].balls}}</label>
                </td>
                <td class="north">
                    <input *ngIf="gameDto.turn == 'NORTH'" id="{{gameDto.pitList[4].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[4].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[4].id}}">{{gameDto.pitList[4].balls}}</label>
                </td>
                <td class="north">
                    <input *ngIf="gameDto.turn == 'NORTH'" id="{{gameDto.pitList[5].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[5].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[5].id}}">{{gameDto.pitList[5].balls}}</label>
                </td>
                <td class="north">
                    <input *ngIf="gameDto.turn == 'NORTH'" id="{{gameDto.pitList[6].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[6].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[6].id}}">{{gameDto.pitList[6].balls}}</label>
                </td>
                <td class="south" rowspan="2">
                    <label class="custom-control-label">{{gameDto.pitList[7].balls}}</label>
                </td>
            </tr>
            <tr>
                <td class="south">
                    <input *ngIf="gameDto.turn == 'SOUTH'" id="{{gameDto.pitList[13].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[13].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[13].id}}">{{gameDto.pitList[13].balls}}</label>
                </td>
                <td class="south">
                    <input *ngIf="gameDto.turn == 'SOUTH'" id="{{gameDto.pitList[12].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[12].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[12].id}}">{{gameDto.pitList[12].balls}}</label>
                </td>
                <td class="south">
                    <input *ngIf="gameDto.turn == 'SOUTH'" id="{{gameDto.pitList[11].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[11].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[11].id}}">{{gameDto.pitList[11].balls}}</label>
                </td>
                <td class="south">
                    <input *ngIf="gameDto.turn == 'SOUTH'" id="{{gameDto.pitList[10].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[10].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[10].id}}">{{gameDto.pitList[10].balls}}</label>
                </td>
                <td class="south">
                    <input *ngIf="gameDto.turn == 'SOUTH'" id="{{gameDto.pitList[9].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[9].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[9].id}}">{{gameDto.pitList[9].balls}}</label>
                </td>
                <td class="south">
                    <input *ngIf="gameDto.turn == 'SOUTH'" id="{{gameDto.pitList[8].id}}" type="radio"
                        class="custom-control-input" value="{{gameDto.pitList[8].id}}" name="pits" ngModel required>
                    <label class="custom-control-label"
                        for="{{gameDto.pitList[8].id}}">{{gameDto.pitList[8].balls}}</label>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="isSubmitted && myForm.invalid">
        <p>Please select a pit to play</p>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-danger btn-lg btn-block">Play selected pit!</button>
</form>